body {
  margin: 5px;
}

.header {
  background-color: aqua;
}
.auswahlmenu {
  background-color: aqua;

  width: 200px;
  height: 200px;
}
.auswahlfeld {
  display: inline;
  width: 90%;
  height: 200px;
  text-align: center;
}

.spielfeld {
  width: 90%;
  height: 200px;
  background-color: brown;
}

.fieldPins {
  display: inline;
  width: 25%;
}
.position {
  width: 25%;
  height: 24%;
}

.Tippfeld1 {
  display: inline-block;
  width: 25%;
  background-color: red;
}
.Tippfeld2 {
  display: inline-;
  width: 25%;
  background-color: blue;
}
.Tippfeld3 {
  display: inline-;
  width: 25%;
  background-color: green;
}
.Tippfeld4 {
  display: inline-;
  width: 25%;
  background-color: yellow;
}
