body {
    margin: 50px;
    background-color: blueviolet;
    
}

.container {
    border-style: solid;
    border: 3px;
    border-color: antiquewhite;
}

h1 {
    color: aqua;
    border: solid; 
    border-color: black;
    border-width: 4px;
    
}

h2{
    color: bisque;
}