body {
    margin: 50px;
}

.header {
    background-color: aqua;
}
.auswahlmenu{
    background-color: aqua;
    display: flex;
    width: 200px;
    height: 200px;
}
.auswahlliste{
    display: inline;
    width: 90%;
    height: 200px;
    text-align: center;
   

}
.container {
    display: block;
    background-color: antiquewhite;
}

.rot {
    height: 25%;
background-color: red;
}
.blau {
    height: 25%;
background-color: blue;
}
.gruen {
    height: 25%;
background-color: green;
}
.gelb {
    height: 25%;
background-color: yellow;
}
